:root{
    --purple:#D6A2E8;
    --dark-blue:#2C3A47;
    --white:white;
    --gray:#858796;
}
body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#Menu{
    width:20%;
    height: 100%;
    background-color: #2C3A47;
    position: fixed;
}
#Page-Content{
    width: 80%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    right: 0;
}
#Bar{
    width: 100%;
    height: 8%;
    background-color: white;
    border-bottom: 1px solid #858796;
    position: relative;
}
#Bar .SearchBox{
    margin: auto;
    top: 0;
    bottom: 0;
    width: 300px;
    height: 50px;
    background-color: transparent;
    left: 0;
    text-align: center;
    margin-left: 10px;
    position: absolute;
}
.SearchBox .SearchField{
    width: 220px;
    height: 30px;
    outline: none;
    background-color: transparent;
    border-bottom:3px solid #2C3A47;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #2C3A47;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    transition: all 0.25s ease;
}
.SearchBox .SearchField:focus{
    border-bottom-color:#D6A2E8;
}
.SearchBox .Search_btn{
    margin-left: 5px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 20px;
    text-align: center;
    transition: all 0.25s ease;
    cursor: pointer;
}
.SearchBox .Search_btn:hover{
    background-color: #D6A2E8;
}
#Bar .MessagesBox{
    margin: auto;
    top: 0;
    bottom: 0;
    position: absolute;
    width: 500px;
    height: 50px;
    background-color: transparent;
    right:0;
    text-align: center;
    margin-right:10px;
}
#Bar .MessagesBox .Message_con{
    width: 400px;
    height: 40px;
    background-color: white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);

}
#Bar .MessagesBox div{
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    left: 20%;
}
#Bar .MessagesBox .Bar_icon{
    text-align: center;
    width: 20px;
    height: 40px;
    cursor: pointer;
}
.MessagesBox .divider{
    width: 2px;
    height: 80%;
    background-color: #2C3A47;
    border-radius: 100px;
    top: 50%;
    transform: translateY(-50%);

}
.MessagesBox i{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    font-size: 20px;
}
.MessagesBox p{
    text-align: center;
    font-size: 15px;
    position: absolute;
    top: 15%;
    transform: translateY(-50%);
    float: left;
    left: 65%;
    font-family: 'Baloo Tamma 2', cursive;
    
}
.userImg{
width: 40px;
height: 40px;
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
border-radius: 20px;
}
#Menu .LogoBox{
    width: 250px;
    height: 250px;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    background-color:transparent;

}
#Menu .LogoBox .Logo{
    width: 204px;
    height: 192px;
    background: url(../images/Logo.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}
#Menu .LogoBox p{
    text-align: center;
    color: white;
    bottom: 0;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    font-size: 30px;
    font-family: 'Work Sans', sans-serif;
}
#Menu .PageButtons label{
    font-size: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    left: 0;
    color:#ced6e0;
    font-family: 'Work Sans', sans-serif;
    cursor: pointer;
    margin-left: 40px;
    transition: all 0.5s ease;
}
#Menu .PageButtons{
    background: transparent;
    width: 100%;
    height: 50px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    cursor: pointer;
    transition-duration: 500ms;
}
#Menu .PageButtons:hover{
    background: rgba(0, 0, 0, 0.048);
}
#Menu .PageButtons:hover{
    background: rgba(0, 0, 0, 0.048);
}
#Menu .Dashboard_btn{
    top: 32%;
}
#Menu .Files_btn{
    top: 42%;
}
#Menu .Quizes_btn{
    top: 49%;
}
#Menu .Announcements_btn{
    top: 56%;
}
#Menu .Grades_btn{
    top: 63%;
}
#Menu .Logout_btn{
    top: 72%;
}
#Menu .divider{
    background-color:var(--purple);
    width: 300px;
    height: 2px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}
#Menu .divider1{
    top:30%;
}
#Menu .divider2{
    top: 39%;
}
#Menu .divider3{
    top: 70%;
}
#Page-Content .page{
    position: absolute;
}
#Dashboard{
    width: 100%;
    height: 200vh;
    background-color: #f1f2f6;
    display: none;
}
#Files{
    width: 100%;
    height: 91%;
    background-color: #f1f2f6;
    display: none;
    overflow-y: scroll;
}
.ShowFormbtn{
    display: block;
    outline: none;
    border: none;
    color: white;
    font-family: 'Work Sans', sans-serif;
    background: linear-gradient(120deg,rgb(214,162,232),rgb(44,58,71));
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 15px;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.5s;
    background-size: 200%;
    margin: auto;
    top: 15px;
    right:90px;
}
.CloseFormbtn{
    display: block;
    outline: none;
    border: none;
    color: white;
    font-family: 'Work Sans', sans-serif;
    /*background: linear-gradient(120deg,rgb(214,162,232),rgb(44,58,71));*/
    background-color: transparent;
    color:rgb(214,162,232);
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 25px;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.5s;
    margin: auto;
    top: 30px;
    left:40px;
}
#Files #FileForm form #FileInfo{
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    position: relative;
    top: 40px;
    left: 10%;

}
#Files #FileForm{
    width: 0;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    background-color: white;
    transition: all 0.5s ease;
}
#Files #FileForm form{
    width: 80%;
    height: 80%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color:transparent;
    transition: all 0.5s ease;
}
#Files #FileForm form #FileTitle{
    width: 80%;
    height: 30px;
    position: relative;
    top: 20%;
    left: 0;
    right: 0;
    margin: auto;
    outline: none;
    background-color: transparent;
    border-bottom:3px solid #2C3A47;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #2C3A47;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    transition: all 0.25s ease;
    display: block;
}
#Files #FileForm form #FileType{
    width: 80%;
    height: 40px;
    position: relative;
    top: 40%;
    right: 0;
    left: 0;
    margin: auto;
    color: rgb(44,58,71);
    padding: 8px 12px;
    display: block;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid var(--dark-blue);
    outline: none;
    font-family: 'Work Sans', sans-serif;
}
#Files #FileForm form #UploadFilebtn{
    display: block;
    outline: none;
    border: none;
    color: white;
    font-family: 'Work Sans', sans-serif;
    background-color: transparent;
    border-radius: 150px;
    position: absolute;
    margin: auto;
    top: 70%;
    left: 10%;
    width: 8%;
    height: 45px;
    cursor: pointer;
    transition: 0.5s;
    background-size: 200%;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
}
#UploadFilebtn:hover{
    background: linear-gradient(120deg,rgb(214,162,232),rgb(44,58,71));
}
#FileValue{
    position: absolute;
    top: 72%;
    left: 20%;
    margin: auto;
    color: rgb(44,58,71);
    display: block;
    font-family: 'Work Sans', sans-serif;
}
#Files #FileForm form #UploadFilebtn i{
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    position: absolute;
    color: var(--dark-blue);
    font-size: 20px;
}
#Files #FileForm form #FileSubmit{
    display: block;
    outline: none;
    border: none;
    color: white;
    font-family: 'Work Sans', sans-serif;
    background: linear-gradient(120deg,rgb(214,162,232),rgb(44,58,71));
    border-radius: 30px;
    position: absolute;
    margin: auto;
    top: 70%;
    left: 60%;
    width: 30%;
    height: 40px;
    cursor: pointer;
    transition: 0.5s;
    background-size: 200%;
    font-size: 20px;
    text-align: center;
}
#Files .FileBox{
	width:90%;
    height:2%;
    background-color:white;
    position:relative;
    display:inline-flex;
    margin:auto;
    transform:translate(-50%,-50%);
    top:4%;
    left:50%;
    margin-bottom :15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left: 5px solid rgb(214,162,232);
    cursor: pointer;
    transition: all 0.5s ease;
}
#Files .FileBox:hover{
	background-color: #dcdde1;
	
}
#Files .DeleteFile{
	outline: none;
	font-size: 25px;
	color: rgb(44,58,71);
	position: absolute;
	right: 2%;
	background-color: transparent;
	border: none;
	cursor: pointer;
}
#Files .DeleteFile:hover{
	color:rgb(214,162,232);
}
#Files .FileBox .FileLink{
	text-decoration: none;
font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    margin-left: 30px;
    color:rgb(44,58,71);
}
#CourseDiv{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.438);
    transform: translate(-50%,-50%);
    left: 50%;
    top:50%;
    text-align: center;
    margin: auto;
    
} 
#Quizes{
    width: 100%;
    height: 91.8%;
    background-color: #f1f2f6;
    display: block;
    overflow-y:scroll; 
}
#Quizes #QuizForm{
	width: 0;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    background-color: white;
    transition: all 0.5s ease;
}
#Quizes #QuizForm #QuizInfo{
	font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    position: absolute;
    margin: auto;
    top: 10%;
   	left: 50%;
   	transform:translateX(-50%);
   	display: none;
    
 /*   top: 10%;
    left: 50%;
    transform:translate(-50%,-50%);*/
}
#form-div{
	background-color: green;
	width: 80%;
	height: 50%;
	margin: auto;
	position: absolute;
	top: 20%;
	left: 0;
	right: 0;
}
#Profile .ProPho-Background{
    width: 100%;
    height: 10%;
    background: url(../images/a.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    border-bottom: 1.5px solid #858796;
}
#Profile .ProPho-Background .Blured{
    width: 100%;
    height: 100%;
    position: absolute;
    filter: blur(30px);
}
#Profile .ProPho{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 10%;
    background:url(../images/a.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100px;
    top: 5%;
    border: 5px solid white;
    cursor: pointer;

}
.ProPho .shadow{
    width: 100%;
    height: 100%;
    position: relative;;
    border-radius: 100px;
    text-align: center;
    color: #f1f2f6;
    transition-duration: 500ms;
    background: rgba(0, 0, 0, 0);
    display: none;
    cursor: pointer;
}
.shadow i{
    margin-top: 30px;
    font-size: 30px;
}
.ProPho:hover > .shadow{
    display: block;
    background: rgba(0, 0, 0, 0.582);

}
#Announcements{
    width: 100%;
    height: 91.8%;
    background-color: chartreuse;
    display: none;
    overflow-y:scroll; 
}
#Announcements div{
    position: relative;
    display: inline-block;
    background-color: white;
    border: 2px solid var(--gray);
    width: 100%;
    height: 5%;
}
#Grades{
    width: 100%;
    height: 91.8%;
    background-color: darkred;
    display: none;
    overflow-y:scroll; 
}
#Page-Content #Profile .info-container{
    background-color: transparent;
    height: 60%;
    width: 1500px;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);    
    position: absolute;
    overflow: hidden;
    text-align: center;

}
#Profile .infoBox{
    display: inline-block;
    position: relative;
    margin: 15px;
    top: 5%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40%;
    width: 40%;
    background-color: transparent;
}
#Profile .info-container header{
    font-family: 'Work Sans', sans-serif;
    position: absolute;
     font-size: 25pt;
     color:rgb(44,58,71);
     float: left;
     display: block;
}
#Profile .info-container .infoBox .Box{
    width: 100%;
    height: 28%;
    float: left;
    position: relative;
    background-color: white;
    border: 0.5px solid #bdc3c7;
    margin: none;
    top: 20%;
}
#Profile .info-container .divider{
    width: 100%;
    height: 1%;
    background-color: transparent;
    position: absolute;
    top: 15%;
}
#Profile .info-container .infoBox .Title{
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%,-50%);
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;

}
#Profile .info-container .infoBox button{
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 20px;
    text-align: center;
    transition: all 0.25s ease;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5%;
    margin: auto;
}
#Profile .info-container .infoBox button:hover{
    color: var(--purple);
    
}
#Profile .info-container .infoBox p{
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%,-50%);
    font-size: 18px;
}
#Profile .info-container .infoBox input{
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%,-50%);
    width: 0px;
    height: 40px;
    outline: none;
    background-color: transparent;
    border-bottom:3px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #2C3A47;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    transition: all 0.25s ease;
    
}
::-webkit-input-placeholder
{
    text-align: left;
    color:#aaa69d;
    font-size:12pt;
    font-family: 'Roboto', sans-serif;
    opacity: 90%;
}
#Profile .info-container .infoBox .edit{
    display: block;
}
#Profile .info-container .infoBox .cancel{
    display: none;
}