:root{
    --purple:#D6A2E8;
    --dark-blue:#2C3A47;
    --white:white;
    --gray:#858796;
}
body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: scroll;    
}
#Menu{
    width:20%;
    height: 100%;
    background-color: #2C3A47;
    position: fixed;
}
#Page-Content{
    width: 80%;
    height: 100%;
    position: absolute;
    right: 0;
}
#Bar{
    width: 100%;
    height: 80px;
    background-color: white;
    border-bottom: 1px solid #858796;
    position: relative;
}
#Bar .SearchBox{
    margin: auto;
    top: 0;
    bottom: 0;
    width: 300px;
    height: 50px;
    background-color: transparent;
    left: 0;
    text-align: center;
    margin-left: 10px;
    position: absolute;
}
.SearchBox .SearchField{
    width: 220px;
    height: 30px;
    outline: none;
    background-color: transparent;
    border-bottom:3px solid #2C3A47;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #2C3A47;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    transition: all 0.25s ease;
}
.SearchBox .SearchField:focus{
    border-bottom-color:#D6A2E8;
}
.SearchBox .Search_btn{
    margin-left: 5px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 20px;
    text-align: center;
    transition: all 0.25s ease;
}
.SearchBox .Search_btn:hover{
    background-color: #D6A2E8;
}
#Bar .MessagesBox{
    margin: auto;
    top: 0;
    bottom: 0;
    position: absolute;
    width: 500px;
    height: 50px;
    background-color: transparent;
    right:0;
    text-align: center;
    margin-right:10px;
}
#Bar .MessagesBox .Message_con{
    width: 400px;
    height: 40px;
    background-color: white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);

}
#Bar .MessagesBox div{
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    left: 20%;
}
#Bar .MessagesBox .Bar_icon{
    text-align: center;
    width: 20px;
    height: 40px;
    cursor: pointer;
}
.MessagesBox .divider{
    width: 2px;
    height: 80%;
    background-color: #2C3A47;
    border-radius: 100px;
    top: 50%;
    transform: translateY(-50%);

}
.MessagesBox i{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    font-size: 20px;
}
.MessagesBox p{
    text-align: center;
    font-size: 15px;
    position: absolute;
    top: 15%;
    transform: translateY(-50%);
    float: left;
    left: 65%;
    font-family: 'Baloo Tamma 2', cursive;
    
}
.userImg{
width: 40px;
height: 40px;
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
border-radius: 20px;
}
#Menu .LogoBox{
    width: 250px;
    height: 250px;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    background-color:transparent;

}
#Menu .LogoBox .Logo{
    width: 204px;
    height: 192px;
    background: url(../images/Logo.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}
#Menu .LogoBox p{
    text-align: center;
    color: white;
    bottom: 0;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    font-size: 30px;
    font-family: 'Work Sans', sans-serif;
}
#Menu .PageButtons label{
    font-size: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    left: 0;
    color:#ced6e0;
    font-family: 'Work Sans', sans-serif;
    cursor: pointer;
    margin-left: 40px;
    transition: all 0.5s ease;
}
#Menu .PageButtons{
    background: transparent;
    width: 100%;
    height: 50px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    cursor: pointer;
    transition-duration: 500ms;
}
#Menu .PageButtons:hover{
    background: rgba(0, 0, 0, 0.048);
}
#Menu .PageButtons:hover{
    background: rgba(0, 0, 0, 0.048);
}
#Menu .Dashboard_btn{
    top: 32%;
}
#Menu .Profile_btn{
    top: 42%;
}
#Menu .Courses_btn{
    top: 49%;
}
#Menu .Announcements_btn{
    top: 56%;
}
#Menu .Grades_btn{
    top: 63%;
}
#Menu .Logout_btn{
    top: 72%;
}
#Menu .divider{
    background-color:var(--purple);
    width: 300px;
    height: 2px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}
#Menu .divider1{
    top:30%;
}
#Menu .divider2{
    top: 39%;
}
#Menu .divider3{
    top: 70%;
}
#Page-Content .page{
    position: absolute;
}
#Dashboard{
    width: 100%;
    height: 200vh;
    background-color: #f1f2f6;
    display: none;
}
#Courses{
    width: 100%;
    height: 300vh;
    background-color: #f1f2f6;
    display: none;
}
.CourseBox{
	position:relative;
	display:inline-flex;
	width:400px;
	height:300px;
	margin: 50px;
	margin-top:120px;
	border: 1px solid #ced6e0;
}
#Courses,#Dashboard p{
	font-family: 'Work Sans', sans-serif;
    font-size: 20pt;
    color: purple;
}
#Dashboard form{
	position: absolute;
	width:100%;
	height:15%;
	bottom: 0;
	background-color: white;
}
#Courses .TakeCourseIDForm{
	position: absolute;
	width:100%;
	height:30%;
	bottom: 0;
	background-color: white;
}
#Courses .TakeCourseIDForm .InstructorImg{
	
	width:90px;
	height: 100%;
	/*border-radius: 30px;*/
	left:0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
}
#Courses .CourseName{
	position: absolute;
	font-family: 'Work Sans', sans-serif;
    font-size: 12px;
    color: rgb(44,58,71);
    left: 25%;
    bottom: 15%;
        opacity: 0.5;
    
}
#Courses .CourseField{
	position: absolute;
	font-family: 'Work Sans', sans-serif;
    font-size: 12px;
    color: rgb(44,58,71);
    left: 25%;
    bottom: 10%;
    opacity: 0.5;
    
}
#Courses .CourseEndDate{
	position: absolute;
	font-family: 'Work Sans', sans-serif;
    font-size: 12px;
    color: rgb(44,58,71);
    left: 25%;
    bottom: 5%;
    opacity: 0.5;
}
#Courses .InstructorName{
	position: absolute;
	font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    color: rgb(44,58,71);
    left: 25%;
    bottom: 20%;
}
/*#Courses .CreateCoursebtn{
	background-color: black;
	color: white;
	width: 100px;
	height: 100px;
	outline: none;
}*/
#Courses .ShowFormbtn{
    display: block;
    outline: none;
    border: none;
    color: white;
    font-family: 'Work Sans', sans-serif;
    background: linear-gradient(120deg,rgb(214,162,232),rgb(44,58,71));
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 15px;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.5s;
    background-size: 200%;
    margin: auto;
    top: 15px;
    right:40px;
}
#Courses .CourseBox .CourseImg{
	position: absolute;
	width:100%;
	height:70%;
	top: 0;
	background: url("../images/Math.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
#Courses #CourseForm{
    width: 0;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    background-color: white;
    transition: all 0.5s ease;
}
#Courses #CourseForm .AddCourseForm{
    width: 80%;
    height: 80%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color:transparent;
    transition: all 0.5s ease;
}
#Courses .CloseFormbtn{
    display: block;
    outline: none;
    border: none;
    color: white;
    font-family: 'Work Sans', sans-serif;
    /*background: linear-gradient(120deg,rgb(214,162,232),rgb(44,58,71));*/
    background-color: transparent;
    color:rgb(214,162,232);
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 25px;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.5s;
    margin: auto;
    top: 30px;
    left:40px;
}
#Courses #CourseForm .AddCourseForm #CourseInfo{
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    position: relative;
    top: 40px;
    left: 10%;
    color:rgb(44,58,71) ;

}
#Courses #CourseForm .AddCourseForm #CourseName{
    width: 80%;
    height: 30px;
    position: relative;
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
    outline: none;
    background-color: transparent;
    border-bottom:3px solid #2C3A47;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #2C3A47;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    transition: all 0.25s ease;
    display: block;
}
#Courses #CourseForm .AddCourseForm #CourseField{
	width: 80%;
    height: 30px;
    position: relative;
    top: 20%;
    left: 0;
    right: 0;
    margin: auto;
    outline: none;
    background-color: transparent;
    border-bottom:3px solid #2C3A47;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #2C3A47;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    transition: all 0.25s ease;
    display: block;
}
#StartDate-div{
 position: absolute;
	top: 40%;
	 left: 10%;
    right: 0;
    margin: auto;
    color: rgb(44,58,71);
    font-size: 20px;
}
#EndDate-div{
	position: absolute;
	top: 40%;
	 left: 55%;
    right: 0;
    margin: auto;
    color: rgb(44,58,71);
    font-size: 20px;
}
#Courses #CourseForm .AddCourseForm #ImgCourse{
	width: 80%;
	height: 32%;
	background-color: #dfe4ea;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin: auto;
	cursor: pointer;
}
#Courses .CourseIDForm{
	width: 50%;
	height: 2%;
	background-color: transparent;
	position: absolute;
	top: 1%;
	left: 0;
	right: 0;
	margin: auto;
}
#Courses .CourseIDForm .ShowCourseIDbtn{ 
	display: block;
    outline: none;
    border: none;
    color: white;
    font-family: 'Work Sans', sans-serif;
    background: linear-gradient(120deg,rgb(214,162,232),rgb(44,58,71));
    position: absolute;
    width: 100px;
    height: 40px;
    font-size: 15px;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.5s;
    background-size: 200%;
    margin: auto;
    top: 0;
    bottom:0;
    right:90px;
	
}
#Courses .CourseIDForm .CourseIDInput{
	position: absolute;
	transform:translate(-50%,-50%);
	top:50%;
	left:40%;
	width: 60%;
	height: 45%;
	border: 1px solid #dfe4ea;
	border-radius: 10px;
	outline: none;
	padding: 5px;
}
#Courses .CourseIDForm .CourseIDInput:focus{
	border-color: rgb(44,58,71);
	box-shadow: 0 0 3px 0 rgb(44,58,71);
}
#UploadFilebtn i{
    position: absolute;
    color:rgb(44,58,71) ;
    font-size: 20px;
    top: 85%;
    left: 10%;
    cursor: pointer;
}
#UploadFilebtn i:hover{
    color: rgb(214,162,232);
}
#FileValue{
	 position: absolute;
    color:rgb(44,58,71) ;
    font-size: 15px;
    top: 85%;
    left: 18%;
}
#Courses #CourseForm .AddCourseForm .ImgCourse:hover{
	border: 2px dotted rgb(44,58,71);
}
#Courses #CourseForm .AddCourseForm #CourseSubmit{
    display: block;
    outline: none;
    border: none;
    color: white;
    font-family: 'Work Sans', sans-serif;
    background: linear-gradient(120deg,rgb(214,162,232),rgb(44,58,71));
    background-position: 200%;
    border-radius: 30px;
    position: absolute;
    margin: auto;
    top: 90%;
    left: 60%;
    width: 30%;
    height: 40px;
    cursor: pointer;
    transition: 0.5s;
    background-size: 200%;
    font-size: 20px;
    text-align: center;
}
#Courses #CourseForm . #CourseSubmit:hover{
	background-position: 100%;
	
}
#GoToCoursebtn{
	position: absolute;
    color:rgb(44,58,71) ;
    font-size: 20px;
    bottom: 60%;
    right: 2%;
    cursor: pointer;
    background-color: transparent;
    border: none;
}
#DeleteCoursebtn{
	position: absolute;
    color:rgb(44,58,71) ;
    font-size: 20px;
    bottom: 10%;
    right: 2%;
    cursor: pointer;
    background-color: transparent;
    border: none;
}
#GoToCoursebtn:hover,#DeleteCoursebtn:hover{
	color:rgb(214,162,232);
}
#Profile{
    width: 100%;
    height: 130vh;
    background-color: #f1f2f6;
    display: block;
}
#Profile .ProPho-Background{
    width: 100%;
    height: 10%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    border-bottom: 1.5px solid #858796;
}
.Blured{
    width: 100%;
    height: 100%;
    position: absolute;
    filter: blur(20px);
}
#Profile .ProPho{
    width: 190px;
    height: 190px;
    position: absolute;
    left: 10%;
    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100px;
    top: 5%;
    border: 5px solid white;
    cursor: pointer;

}
#Profile  img{
	 width: 190px;
    height: 190px;
    position: absolute;
    left: 10%;
    border-radius: 100px;
    top: 5%;
    border: 5px solid white;
    cursor: pointer;
}
.ProPho .shadow{
    width: 100%;
    height: 100%;
    position: relative;;
    border-radius: 100px;
    text-align: center;
    color: #f1f2f6;
    transition-duration: 500ms;
    background: rgba(0, 0, 0, 0);
    display: none;
    cursor: pointer;
}
.shadow i{
	position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    font-size: 30px;
}
.ProPho:hover > .shadow{
    display: block;
    background: rgba(0, 0, 0, 0.582);

}
#Announcements{
    width: 100%;
    height: 500vh;
    background-color: chartreuse;
    display: none;
}
#Announcements div{
    position: relative;
    display: inline-block;
    background-color: white;
    border: 2px solid var(--gray);
    width: 100%;
    height: 5%;
}
#Grades{
    width: 100%;
    height: 600vh;
    background-color: darkred;
    display: none;
}
#Page-Content #Profile .info-container{
    background-color: transparent;
    height: 60%;
    width: 1500px;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);    
    position: absolute;
    overflow: hidden;
    text-align: center;

}
#Profile .infoBox{
    display: inline-block;
    position: relative;
    margin: 15px;
    top: 5%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40%;
    width: 40%;
    background-color: transparent;
}
#Profile .info-container header{
    font-family: 'Work Sans', sans-serif;
    position: absolute;
     font-size: 25pt;
     color:rgb(44,58,71);
     float: left;
     display: block;
}
#Profile .info-container .infoBox .Box{
    width: 100%;
    height: 28%;
    float: left;
    position: relative;
    background-color: white;
    border: 0.5px solid #bdc3c7;
    margin: none;
    top: 20%;
    text-align: center;
}
#Profile .info-container .divider{
    width: 100%;
    height: 1%;
    background-color: transparent;
    position: absolute;
    top: 15%;
}
#Profile .info-container .infoBox .Title{
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%,-50%);
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;

}
#Profile .info-container .infoBox button{
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 20px;
    text-align: center;
    transition: all 0.25s ease;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5%;
    margin: auto;
}
#Profile .info-container .infoBox button:hover{
    color: var(--purple);
    
}
#Profile .info-container .infoBox p{
   	position: absolute;
    top: 30%;
    left: 55%;
    transform: translate(-50%,-50%);
    font-size: 18px;
    font-family: 'Baloo Tamma 2', cursive;
    
}
#Profile .info-container .infoBox input{
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%,-50%);
    width: 0px;
    height: 40px;
    outline: none;
    background-color: transparent;
    border-bottom:3px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #2C3A47;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    transition: all 0.25s ease;
    
}
::-webkit-input-placeholder
{
    text-align: left;
    color:#aaa69d;
    font-size:12pt;
    font-family: 'Roboto', sans-serif;
    opacity: 90%;
}
#Profile .info-container .infoBox .edit{
    display: block;
}
#Profile .info-container .infoBox .cancel{
    display: none;
}